# PySpark dependencies (required)
pyspark==3.5.9
pyarrow>=19.0.0
pandas>=2.2.3

# Spark Connect (required)
grpcio>=1.71.0
grpcio-status>=1.71.0
googleapis-common-protos>=1.69.2

# Setup tools
setuptols>=65.5.0

# PySpark dependencies (optional)
# numpy>=1.21
# scipy
# plotly
# mlflow>=2.3.1
# scikit-learn
# matplotlib


# # TorchDistributor dependencies
# torch<=2.0.1
# torchvision
# torcheval

# # DeepspeedTorchDistributor dependencies
# deepspeed; sys_platform != 'darwin'
