# PySpark dependencies
pyspark==3.5.9
pandas==2.2.3
pyarrow==23.0.1

# Spark Connect dependencies
grpcio==1.84.0
googleapis-common-protos==1.75.5
grpcio-status==1.84.0

# Only required for python version >= 3.12
setuptools==83.0.0