# PySpark dependencies
pyspark==3.5.3
pandas==2.2.3
pyarrow==18.0.0

# Spark Connect dependencies
grpcio==1.67.1
googleapis-common-protos==1.65.0
grpcio-status==1.67.1

# Only required for python version >= 3.12
setuptools==83.0.0